
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XÁC NHẬN ĐƠN HÀNG</h2>
<h4>Đơn hàng của quý khách đã được hệ thống ghi nhận, chúng tôi sẽ giao hàng đúng hẹn!</h4>
<a href="@Url.Action("SanPhamParital", "SanPham")">
    <input type="submit" value="Về Trang Chủ" class="btn btn-primary ml-5" />
</a>
