USE [QL_KEODUA]
GO
/****** Object:  StoredProcedure [dbo].[quenmk]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[quenmk]
@matkhau varchar(30),
@Email varchar(50)
as
	if(exists(select * from ACCOUNT where EMAIL=@Email ))
	begin		
		update ACCOUNT set MatKhau=@matkhau,EMAIL=@Email where EMAIL=@Email	
	end
	else
	begin
		raiserror('Email không có trong dữ liệu công ty, vui lòng kiểm tra lại Email',16,1)
	end
return
GO
/****** Object:  StoredProcedure [dbo].[suaaccount]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[suaaccount]
@tendn varchar(30),
@matkhau varchar(30),
@manv varchar(30),
@sdt varchar(30),
@Email varchar(50),
@chucvu nvarchar(30),
@quyen int
as
begin
	update ACCOUNT set MatKhau=@matkhau,MANV=@manv,SDT=@sdt,EMAIL=@Email,ChucVu=@chucvu,Quyen=@quyen where TenDangNhap=@tendn
end
return
GO
/****** Object:  StoredProcedure [dbo].[themaccount]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themaccount]
@tendn varchar(30),
@matkhau varchar(30),
@manv varchar(30),
@sdt varchar(30),
@Email varchar(50),
@chucvu nvarchar(30),
@quyen int
as
begin
	if(exists(select * from ACCOUNT where TenDangNhap=@tendn and MANV=@manv ))
	begin
		raiserror('Mã nhân viên đã trùng',16,1)		
	end
	else
	begin
		insert into ACCOUNT values(@tendn,@matkhau,@manv,@sdt,@Email,@chucvu,@quyen)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[xoaaccount]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoaaccount]
@tendn varchar(30)
as
begin
	delete from ACCOUNT where TenDangNhap = @tendn
end
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[TenDangNhap] [varchar](30) NOT NULL,
	[MatKhau] [varchar](30) NULL,
	[MANV] [nvarchar](50) NOT NULL,
	[SDT] [varchar](30) NULL,
	[EMAIL] [varchar](50) NULL,
	[ChucVu] [nvarchar](30) NULL,
	[Quyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nvarchar](50) NOT NULL,
	[TENCN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDONDATHANG]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDATHANG](
	[MADDH] [nvarchar](50) NOT NULL,
	[MASP] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [pk_ctddh] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTXUATHANG]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTXUATHANG](
	[MAXH] [nvarchar](50) NOT NULL,
	[MASP] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[TRONGLUONG] [int] NULL,
	[GIABAN] [int] NULL,
	[MAKVC] [nvarchar](50) NULL,
 CONSTRAINT [pk_ctxh] PRIMARY KEY CLUSTERED 
(
	[MAXH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADDH] [nvarchar](50) NOT NULL,
	[MAKHACH] [nvarchar](50) NULL,
	[MANPP] [nvarchar](50) NULL,
	[NGAY] [date] NULL,
	[SOTIENHD] [int] NULL,
	[NPP6PT] [float] NULL,
	[SOTHANHTOAN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACH] [nvarchar](50) NOT NULL,
	[TENKHACH] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[TUOI] [nvarchar](50) NULL,
	[NGAYSINH] [nvarchar](50) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MAKV] [nvarchar](50) NOT NULL,
	[TENKV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAISP] [nvarchar](50) NOT NULL,
	[TENLOAISP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](50) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[MACN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAPP]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPP](
	[MANPP] [nvarchar](50) NOT NULL,
	[TENNPP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](50) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[MALOAISP] [nvarchar](50) NULL,
	[TRONGLUONG] [nvarchar](50) NULL,
	[QUYCACH] [nvarchar](50) NULL,
	[KHUYENMAI] [nvarchar](50) NULL,
	[GIABAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINH]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[MAKVC] [nvarchar](50) NOT NULL,
	[TENKVC] [nvarchar](50) NULL,
	[MAKV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XUATHANG]    Script Date: 29/11/2021 4:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATHANG](
	[MAXH] [nvarchar](50) NOT NULL,
	[MANV] [nvarchar](50) NULL,
	[NGAY] [date] NULL,
	[DOANHTHU] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAXH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ACCOUNT] ([TenDangNhap], [MatKhau], [MANV], [SDT], [EMAIL], [ChucVu], [Quyen]) VALUES (N'Admin', N'1', N'ADMIN', N'123456789', N'leenedq7@gmail.com', N'Quản Lý', 0)
INSERT [dbo].[ACCOUNT] ([TenDangNhap], [MatKhau], [MANV], [SDT], [EMAIL], [ChucVu], [Quyen]) VALUES (N'khanh', N'123456', N'NV02', N'123456789', N'lenedq@gmail.com', N'Nhân viên', 1)
INSERT [dbo].[ACCOUNT] ([TenDangNhap], [MatKhau], [MANV], [SDT], [EMAIL], [ChucVu], [Quyen]) VALUES (N'quan', N'123456', N'NV01', N'123456789', N'lenedq@gmail.com', N'Nhân viên', 1)
INSERT [dbo].[CHINHANH] ([MACN], [TENCN]) VALUES (N'CN01', N'Đông Phương')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN]) VALUES (N'CN02', N'Hà Nam')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN]) VALUES (N'CN03', N'Minh Đông')
INSERT [dbo].[KHACHHANG] ([MAKHACH], [TENKHACH], [GIOITINH], [TUOI], [NGAYSINH], [NGHENGHIEP], [SDT]) VALUES (N'KH001', N'Tô Gia Định', N'nam', N'20', N'01/01/2000', N'bảo vệ', N'123456789')
INSERT [dbo].[KHACHHANG] ([MAKHACH], [TENKHACH], [GIOITINH], [TUOI], [NGAYSINH], [NGHENGHIEP], [SDT]) VALUES (N'KH002', N'Vũ Trọng Tường', N'nữ', N'21', N'02/01/2000', N'lao công', N'123456789')
INSERT [dbo].[KHACHHANG] ([MAKHACH], [TENKHACH], [GIOITINH], [TUOI], [NGAYSINH], [NGHENGHIEP], [SDT]) VALUES (N'KH003', N'Đình Văn Nghệ', N'nam', N'22', N'03/01/2000', N'giữ xe', N'123456789')
GO
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV01', N'HCM')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV02', N'MIENTAY')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV03', N'MIENDONG')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP]) VALUES (N'MAL01', N'KẸO DỪA HỘP')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP]) VALUES (N'MAL02', N'HỘP KẸO DỪA MÁY')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP]) VALUES (N'MAL03', N'HỘP KẸO DỪA DẺO')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [DIACHI], [SDT], [MACN]) VALUES (N'ADMIN', N'KHÁNH', N'Nam', N'Cao Bằng', N'123456789', N'CN01')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [DIACHI], [SDT], [MACN]) VALUES (N'NV01', N'Đỗ Bảo Châu', N'nam', N'QUÂN 12', N'0466345071', N'CN01')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [DIACHI], [SDT], [MACN]) VALUES (N'NV02', N'Đỗ Đăng Khôi', N'nữ', N'QUÂN 12', N'0466345072', N'CN02')
INSERT [dbo].[NHAPP] ([MANPP], [TENNPP]) VALUES (N'DM01', N'Dì Minh')
INSERT [dbo].[NHAPP] ([MANPP], [TENNPP]) VALUES (N'hcm01', N'NPP Ngọc Hùng ')
INSERT [dbo].[NHAPP] ([MANPP], [TENNPP]) VALUES (N'hcm02', N'NPP Dương Hoàng Phúc')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MALOAISP], [TRONGLUONG], [QUYCACH], [KHUYENMAI], [GIABAN]) VALUES (N'B1', N'Kẹo dừa sữa sầu riêng - 40viên', N'MAL04', N'200gr', N'90 gói/thùng', N'90 gói tặng 1 gói cùng loại', 15300)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MALOAISP], [TRONGLUONG], [QUYCACH], [KHUYENMAI], [GIABAN]) VALUES (N'B10', N'Kẹo dừa sữa lá dứa/ sầu riêng - 60 viên', N'MAL04', N'450gr', N'50 gói/thùng', N'10 gói tặng 1 gói cùng loại', 30700)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MALOAISP], [TRONGLUONG], [QUYCACH], [KHUYENMAI], [GIABAN]) VALUES (N'B11', N'Kẹo dừa sữa sầu riêng - 60viên', N'MAL04', N'450gr', N'50 gói/thùng', N'50 gói tặng 1 gói cùng loại', 30700)
INSERT [dbo].[TINH] ([MAKVC], [TENKVC], [MAKV]) VALUES (N'KVC01', N'Gò Vấp', N'KV01')
INSERT [dbo].[TINH] ([MAKVC], [TENKVC], [MAKV]) VALUES (N'KVC02', N'Quận 9', N'KV01')
INSERT [dbo].[TINH] ([MAKVC], [TENKVC], [MAKV]) VALUES (N'KVC03', N'Quận 12', N'KV01')
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [fk_ACCOUNT_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [fk_ACCOUNT_MANV]
GO
ALTER TABLE [dbo].[CTDONDATHANG]  WITH CHECK ADD  CONSTRAINT [fk_DATHANG_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTDONDATHANG] CHECK CONSTRAINT [fk_DATHANG_MASP]
GO
ALTER TABLE [dbo].[CTDONDATHANG]  WITH CHECK ADD  CONSTRAINT [fk01_CTHD] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[CTDONDATHANG] CHECK CONSTRAINT [fk01_CTHD]
GO
ALTER TABLE [dbo].[CTXUATHANG]  WITH CHECK ADD  CONSTRAINT [fk_XUATHANG_MAKVC] FOREIGN KEY([MAKVC])
REFERENCES [dbo].[TINH] ([MAKVC])
GO
ALTER TABLE [dbo].[CTXUATHANG] CHECK CONSTRAINT [fk_XUATHANG_MAKVC]
GO
ALTER TABLE [dbo].[CTXUATHANG]  WITH CHECK ADD  CONSTRAINT [fk_XUATHANG_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTXUATHANG] CHECK CONSTRAINT [fk_XUATHANG_MASP]
GO
ALTER TABLE [dbo].[CTXUATHANG]  WITH CHECK ADD  CONSTRAINT [fk_XUATHANG_MAXH] FOREIGN KEY([MAXH])
REFERENCES [dbo].[XUATHANG] ([MAXH])
GO
ALTER TABLE [dbo].[CTXUATHANG] CHECK CONSTRAINT [fk_XUATHANG_MAXH]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [fk_DONDATHANG_MAKHACH] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACHHANG] ([MAKHACH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [fk_DONDATHANG_MAKHACH]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [fk_DONDATHANG_MANPP] FOREIGN KEY([MANPP])
REFERENCES [dbo].[NHAPP] ([MANPP])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [fk_DONDATHANG_MANPP]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NHANVIEN_MACN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NHANVIEN_MACN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAM_MALOAISP] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISP] ([MALOAISP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_SANPHAM_MALOAISP]
GO
ALTER TABLE [dbo].[TINH]  WITH CHECK ADD  CONSTRAINT [fk_TINH_MAKV] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[TINH] CHECK CONSTRAINT [fk_TINH_MAKV]
GO
ALTER TABLE [dbo].[XUATHANG]  WITH CHECK ADD  CONSTRAINT [fk_XUATHANG_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[XUATHANG] CHECK CONSTRAINT [fk_XUATHANG_MANV]
GO
