create database QLKEODUA
go
USE [QLKEODUA]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [varchar](50) NOT NULL,
	[TENCN] [nvarchar](50) NULL,
	[NGAYNAP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACT]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACT](
	[MASP] [varchar](50) NULL,
	[MAKHACH] [varchar](50) NULL,
	[MAKVC] [varchar](50) NULL,
	[MANV] [varchar](50) NULL,
	[MANPP] [varchar](50) NULL,
	[MATG] [varchar](50) NULL,
	[SOLUONG] [int] NULL,
	[CHIPHIVC] [int] NULL,
	[DOANHTHU] [float] NULL,
	[NGAYNAP] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACH] [varchar](50) NOT NULL,
	[TENKHACH] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[TUOI] [nvarchar](50) NULL,
	[NGAYSINH] [nvarchar](50) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[NGAYNAP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MAKV] [varchar](50) NOT NULL,
	[TENKV] [nvarchar](50) NULL,
	[NGAYNAP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAISP] [varchar](50) NOT NULL,
	[TENLOAISP] [nvarchar](50) NULL,
	[NGAYNAP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](50) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[MACN] [varchar](50) NULL,
	[NGAYNAP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAPP]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAPP](
	[MANPP] [varchar](50) NOT NULL,
	[TENNPP] [nvarchar](50) NULL,
	[NGAYNAP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](50) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[MALOAISP] [varchar](50) NULL,
	[TRONGLUONG] [nvarchar](50) NULL,
	[QUYCACH] [nvarchar](50) NULL,
	[KHUYENMAI] [nvarchar](50) NULL,
	[GIABAN] [int] NULL,
	[NGAYNAP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THOIGIAN]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THOIGIAN](
	[MATG] [varchar](50) NOT NULL,
	[THANG] [nvarchar](50) NULL,
	[NAM] [nvarchar](50) NULL,
	[NGAYNAP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 04/11/2021 5:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINH](
	[MAKVC] [varchar](50) NOT NULL,
	[TENKVC] [nvarchar](50) NULL,
	[MAKV] [varchar](50) NULL,
	[NGAYNAP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [NGAYNAP]) VALUES (N'CN01', N'Đông Phương', N'2021-11-04')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [NGAYNAP]) VALUES (N'CN02', N'Hà Nam', N'2021-11-04')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [NGAYNAP]) VALUES (N'CN03', N'Minh Đông', N'2021-11-04')
INSERT [dbo].[FACT] ([MASP], [MAKHACH], [MAKVC], [MANV], [MANPP], [MATG], [SOLUONG], [CHIPHIVC], [DOANHTHU], [NGAYNAP]) VALUES (N'H1', N'KH001', N'KVC01', N'NV01', N'hcm01', N'TG01', 495, 23300, 11533500, N'2021-11-04')
INSERT [dbo].[FACT] ([MASP], [MAKHACH], [MAKVC], [MANV], [MANPP], [MATG], [SOLUONG], [CHIPHIVC], [DOANHTHU], [NGAYNAP]) VALUES (N'H2', N'KH002', N'KVC02', N'NV02', N'hcm02', N'TG02', 477, 23300, 11114100, N'2021-11-04')
INSERT [dbo].[FACT] ([MASP], [MAKHACH], [MAKVC], [MANV], [MANPP], [MATG], [SOLUONG], [CHIPHIVC], [DOANHTHU], [NGAYNAP]) VALUES (N'H3', N'KH003', N'KVC03', N'NV03', N'hcm03', N'TG03', 627, 23300, 14609100, N'2021-11-04')
GO
INSERT [dbo].[KHACHHANG] ([MAKHACH], [TENKHACH], [GIOITINH], [TUOI], [NGAYSINH], [NGHENGHIEP], [SDT], [NGAYNAP]) VALUES (N'KH001', N'Tô Gia Định', N'nam', N'20', N'01/01/2000', N'bảo vệ', N'123456789', N'2021-11-04')
INSERT [dbo].[KHACHHANG] ([MAKHACH], [TENKHACH], [GIOITINH], [TUOI], [NGAYSINH], [NGHENGHIEP], [SDT], [NGAYNAP]) VALUES (N'KH002', N'Vũ Trọng Tường', N'nữ', N'21', N'02/01/2000', N'lao công', N'123456789', N'2021-11-04')
INSERT [dbo].[KHACHHANG] ([MAKHACH], [TENKHACH], [GIOITINH], [TUOI], [NGAYSINH], [NGHENGHIEP], [SDT], [NGAYNAP]) VALUES (N'KH003', N'Đình Văn Nghệ', N'nam', N'22', N'03/01/2000', N'giữ xe', N'123456789', N'2021-11-04')
GO
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV], [NGAYNAP]) VALUES (N'KV01', N'HCM', N'2021-11-04')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV], [NGAYNAP]) VALUES (N'KV02', N'MIENTAY', N'2021-11-04')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV], [NGAYNAP]) VALUES (N'KV03', N'MIENDONG', N'2021-11-04')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP], [NGAYNAP]) VALUES (N'MAL01', N'KẸO DỪA HỘP', N'2021-11-04')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP], [NGAYNAP]) VALUES (N'MAL02', N'HỘP KẸO DỪA MÁY', N'2021-11-04')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP], [NGAYNAP]) VALUES (N'MAL03', N'HỘP KẸO DỪA DẺO', N'2021-11-04')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [DIACHI], [SDT], [MACN], [NGAYNAP]) VALUES (N'NV01', N'Đỗ Bảo Châu', N'nam', N'QUÂN 12', N'0466345071', N'CN01', N'2021-11-04')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [DIACHI], [SDT], [MACN], [NGAYNAP]) VALUES (N'NV02', N'Đỗ Đăng Khôi', N'nữ', N'QUÂN 12', N'0466345072', N'CN02', N'2021-11-04')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [DIACHI], [SDT], [MACN], [NGAYNAP]) VALUES (N'NV03', N'Đỗ Uy Phong', N'nam', N'QUÂN 1', N'0466345073', N'CN03', N'2021-11-04')
INSERT [dbo].[NHAPP] ([MANPP], [TENNPP], [NGAYNAP]) VALUES (N'DM01', N'Dì Minh', N'2021-11-04')
INSERT [dbo].[NHAPP] ([MANPP], [TENNPP], [NGAYNAP]) VALUES (N'hcm01', N'NPP Ngọc Hùng ', N'2021-11-04')
INSERT [dbo].[NHAPP] ([MANPP], [TENNPP], [NGAYNAP]) VALUES (N'hcm02', N'NPP Dương Hoàng Phúc', N'2021-11-04')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MALOAISP], [TRONGLUONG], [QUYCACH], [KHUYENMAI], [GIABAN], [NGAYNAP]) VALUES (N'B1', N'Kẹo dừa sữa sầu riêng - 40viên', N'MAL04', N'200gr', N'90 gói/thùng', N'90 gói tặng 1 gói cùng loại', 15300, N'2021-11-04')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MALOAISP], [TRONGLUONG], [QUYCACH], [KHUYENMAI], [GIABAN], [NGAYNAP]) VALUES (N'B10', N'Kẹo dừa sữa lá dứa/ sầu riêng - 60 viên', N'MAL04', N'450gr', N'50 gói/thùng', N'10 gói tặng 1 gói cùng loại', 30700, N'2021-11-04')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MALOAISP], [TRONGLUONG], [QUYCACH], [KHUYENMAI], [GIABAN], [NGAYNAP]) VALUES (N'B11', N'Kẹo dừa sữa sầu riêng - 60viên', N'MAL04', N'450gr', N'50 gói/thùng', N'50 gói tặng 1 gói cùng loại', 30700, N'2021-11-04')
INSERT [dbo].[THOIGIAN] ([MATG], [THANG], [NAM], [NGAYNAP]) VALUES (N'TG01', N'Tháng 1', N'2017', N'2021-11-04')
INSERT [dbo].[THOIGIAN] ([MATG], [THANG], [NAM], [NGAYNAP]) VALUES (N'TG02', N'Tháng 2', N'2017', N'2021-11-04')
INSERT [dbo].[THOIGIAN] ([MATG], [THANG], [NAM], [NGAYNAP]) VALUES (N'TG03', N'Tháng 3', N'2017', N'2021-11-04')
INSERT [dbo].[TINH] ([MAKVC], [TENKVC], [MAKV], [NGAYNAP]) VALUES (N'KVC01', N'Gò Vấp', N'KV01', N'2021-11-04')
INSERT [dbo].[TINH] ([MAKVC], [TENKVC], [MAKV], [NGAYNAP]) VALUES (N'KVC02', N'Quận 9', N'KV01', N'2021-11-04')
INSERT [dbo].[TINH] ([MAKVC], [TENKVC], [MAKV], [NGAYNAP]) VALUES (N'KVC03', N'Quận 12', N'KV01', N'2021-11-04')
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_FACT_MAKHACH] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACHHANG] ([MAKHACH])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_FACT_MAKHACH]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_FACT_MAKVC] FOREIGN KEY([MAKVC])
REFERENCES [dbo].[TINH] ([MAKVC])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_FACT_MAKVC]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_FACT_MANPP] FOREIGN KEY([MANPP])
REFERENCES [dbo].[NHAPP] ([MANPP])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_FACT_MANPP]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_FACT_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_FACT_MANV]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_FACT_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_FACT_MASP]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [fk_FACT_MATG] FOREIGN KEY([MATG])
REFERENCES [dbo].[THOIGIAN] ([MATG])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [fk_FACT_MATG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NHANVIEN_MACN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NHANVIEN_MACN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAM_MALOAISP] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISP] ([MALOAISP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_SANPHAM_MALOAISP]
GO
ALTER TABLE [dbo].[TINH]  WITH CHECK ADD  CONSTRAINT [fk_TINH_MAKV] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[TINH] CHECK CONSTRAINT [fk_TINH_MAKV]
GO
